<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<th:block th:fragment="head">-->
<head layout:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="마감 할인 상품 소개">
    <meta name="keywords" content="food, sale">
    <meta name="author" content="KH 3팀">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="icon" th:href="@{/css/common/icon.svg}">
</head>
<!--</th:block>-->

<body>
    <th:block layout:fragment="content">
        본문
    </th:block>
</body>
</html>